* {
    padding: 0px;
    margin: 0px;
}

body {
    position: relative;
    overflow: hidden;
    background-color: gray;
}

#gameWindow {
    position: relative;
    z-index: -2;
    width: 400px;
    height: 600px;
    border: 1px solid black;
    margin: auto;
    background-image: url("/assets/bkg.png");
}

#pipe {
    z-index: -1;
    width: 50px;
    height: 600px;
    /* background-color: green; */
    position: absolute;
    left: 400px;
    top: 500px;
    animation: pipeAnimation 2s infinite linear;
}

#pipeDownside {
    z-index: -1;
    width: 50px;
    height: 400px;
    /* background-color: green; */
    position: absolute;
    left: 400px;
    animation: pipeAnimation 2s infinite linear;
}

#hideBlock {
    position: absolute;
    top: 602px;
    left: -100px;
    z-index: 99;
    width: 1000px;
    height: 400px;
    background-color: grey;
}

#points {
    position: absolute;
    z-index: 100;
    font-size: 50px;
    color: white;
    top: 650px;
    left: 100px;
}

#hideBlock2 {
    position: absolute;
    top: 0px;
    left: -1002px;
    z-index: 99;
    width: 1000px;
    height: 606px;
    background-color: grey;
}

#crossing {
    z-index: 1;
    width: 50px;
    height: 200px;
    position: relative;
    left: 400px;
    top: -500px;
    /* background-color: white; */
    animation: pipeAnimation 2s infinite linear;
}

#player {
    z-index: 3;
    /* background-color: aqua; */
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
}

.pipeMovement {
    animation: pipeAnimation 2s infinite linear;
}

@keyframes pipeAnimation {
    0% {
        left: 400px
    }
    100% {
        left: -50px;
    }
}